[Unit]
 Description=Service Monitor
 After=multi-user.target

 [Service]
 WorkingDirectory=/home/mnalavadi/rpi-home-server
 Type=idle
 ExecStart=/home/mnalavadi/.local/bin/uv run src/app.py
 User=mnalavadi

 [Install]
 WantedBy=multi-user.target
